{% macro image(src, alt, class) %}
  <img src="{{path}}/{{src}}" alt="{{alt}}" class="{{class}}">
{% endmacro %}

{% macro button(type, class, text, attributes) %}
  {% import "macros/macros.form.twig" as form %}
  {% set default = "btn btn_brand-1 effect effect_bounce-top" %}
  {{form.button('button', "#{default} #{class}", text, attributes)}}
{% endmacro %}

{% macro greeting(options) %}
  {% import _self as landing %}
  {% import "macros/macros.form.twig" as form %}
  <section class="greeting">
    <div class="greeting__header">
      <img src="{{path}}/{{options.logo}}" alt="{{options.title|striptags}}" class="greeting__header-logo">
    </div>
    <div class="greeting__content">
      <div class="greeting__content-header">
        <iframe src="https://www.youtube-nocookie.com/embed/H-7upfqm40w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="greeting__content-body">
        <h1 class="greeting__content-title color-brand-{{options.brand}}">{{options.title|raw}}</h1>
        <div class="greeting__content-body-group">
          <h2 class="greeting__content-subtitle">{{options.subtitle}}</h2>
          <h3 class="greeting__content-name">{{options.name}}</h3>
        </div>
      </div>
    </div>
    <div class="greeting__text bg-brand-{{options.brand}}">
      <p class="greeting__text-title">{{options.text.title|raw}}</p>
      <ul class="greeting__text-list">
        {% for li in options.text.list %}
          <li>{{li}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="greeting__form">
      <div class="greeting__form-inner">
        <p class="greeting__form-title">{{options.form.title|raw}}</p>
        <form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" class="form form_block" method="POST">
          <input type="hidden" name="campaign_token" value="{{options.form.campaign_token}}" />
          <div class="form__content">
            {% for input in options.form.items %}
              <div class="form__row">
                {{ form.input(input.name, input.value, input.type, input.attributes) }}
              </div>
            {% endfor %}
            <div class="form__row">
              {{ form.button("submit", "form__submit btn btn_brand-#{options.brand} effect effect_bounce-top", "Записаться на курс") }}
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="greeting__footer">
      <ul class="social">
        {% for item in options.social %}
          <li class="social__item">
            <a href="{{item.link}}" target="_blank">{{landing.image(item.image, options.title|striptags, 'social__item-image')}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endmacro %}