{% macro image(src, alt, class) %}
  <img src="{{path}}/{{src}}" alt="{{alt}}" class="{{class}}">
{% endmacro %}

{% macro button(type, class, text, attributes) %}
  {% import "macros/macros.form.twig" as form %}
  {% set default = "btn btn_brand-1 effect effect_bounce-top" %}
  {{form.button('button', "#{default} #{class}", text, attributes)}}
{% endmacro %}

{% macro greeting(options) %}
  {% import _self as landing %}
  {% import "macros/macros.form.twig" as form %}
  <section class="greeting">
    <div class="greeting__header">
      <img src="{{path}}/{{options.logo}}" alt="{{options.title|striptags}}" class="greeting__logo">
      <form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" class="form form_block" method="POST">
        <input type="hidden" name="campaign_token" value="{{options.campaign_token}}" />
        <div class="form__content">
          {% for input in options.form %}
            <div class="form__row">
              {{ form.input(input.name, input.value, input.type, input.attributes) }}
            </div>
          {% endfor %}
          <div class="form__row">
            {{ form.button("submit", "form__submit btn btn_lg btn_brand-#{options.brand} effect effect_bounce-top", "Записаться на курс") }}
          </div>
        </div>
      </form>
    </div>
    <div class="greeting__content">
      <div class="greeting__content-header">
        {{landing.image('img/greeting-image.jpg', options.title|striptags, 'greeting__content-header-image')}}
      </div>
      <div class="greeting__content-body">
        <h1 class="greeting__content-title">{{options.title|raw}}</h1>
        <h2 class="greeting__content-subtitle">{{options.subtitle}}</h2>
        <h3 class="greeting__content-name">{{options.name}}</h3>
      </div>
    </div>
    <div class="greeting__text bg-brand-{{options.brand}}">
      <ul class="greeting__list">
        {% for li in options.list %}
          <li>{{li}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="greeting__footer">
      <ul class="social">
        {% for item in options.social %}
          <li class="social__item">
            <a href="{{item.link}}">{{landing.image(item.image, options.title|striptags, 'social__item-image')}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endmacro %}