{% import 'macros/macros.base.twig' as macros %}
{% import 'macros/macros.landing.twig' as landing %}
{% extends 'layouts/base.twig' %}

{% set title = 'Title' %}
{% set description = 'description' %}
{% set image = 'img/logo.png' %}
{% set url = 'url' %}

{% block meta %}
{{ macros.meta(title, description, image, url) }}
{% endblock %}

{% block css %}
{{ macros.css("https://fonts.googleapis.com/css?family=Ubuntu:300,700&amp;subset=cyrillic-ext")}}
{{ macros.css("css/style.min.css") }}
{% endblock %}

{% block js %}
{{ macros.js("js/scripts.min.js") }}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
{{
  landing.greeting({
    'brand': brand,
    'logo': 'img/logo.png',
    'form': form,
    'title': "“Искусство<br><span class='color-brand-#{brand}'>быть первой”</span>",
    'subtitle': "Бесплатный видео-курс",
    'name': 'Марка Бартона',
    'list': [
      "Как выйти замуж за достойного мужчину?",
      "Почему ты любовница и как стать женой?",
      "Как пережить расставание и начать новую жизнь?",
      "ТОП-5 ошибок женщины в общении с мужчиной?",
      "Сожительство, что мешает создать семью?",
      "Как повысить самооценку?"
    ],
    'social': social
  })
}}
{% endblock %}

{% block footer %}
{% endblock %}